@using Manage.Core.Entities;
@using Manage.Web.Interface;



@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@inject IEmployeePersonalDetailsPageService employeePersonalDetailsPageService;

@{
    var photo = "";
    var user = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
    var emp = await employeePersonalDetailsPageService.GetEmployeePersonalDetailsById(user.Id);
    if(emp == null)
    {
         photo = "/avatar.png";
    }
    else
    {
        photo = emp.PhotoPath;
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Manage.Web</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
                integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
</head>

@if (signInManager.IsSignedIn(User))
{
<body class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!--Navbar-->
        <nav class="main-header navbar navbar-expand shadow  navbar-white navbar-light" style="background-color: #1e4356">
            <!--Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" style="color: #946e9f" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @*<li class="nav-item d-none d-sm-inline-block">
                <a href="../../index3.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link">Contact</a>
            </li>*@
            </ul>

            <!--SEARCH FORM-->
            <!--<form class="form-inline ml-3" asp-action="EmployeeList" asp-controller="Employee">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" id="searchByName" name="searchByName" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>-->

            <!--SEARCH FORM-->
            <form class="form-inline ml-3" method="get" asp-action="EmployeeList" asp-controller="Employee">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" id="searchByName" name="searchByName" type="search"  value=@ViewBag.CurrentFilter placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown user-menu">
                    <form method="post" asp-controller="account" asp-action="LogOut">
                        <a href="#collapseExample" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <img src="~/dist/img/poweroffn.png" class=" user-image img-circle elevation-2" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="collapseExample" style="min-width:6rem;">
                            <!-- Menu Body -->
                            <li class="user-body">
                                <button class="btn btn-default btn-flat float-right">Sign out</button>
                                <!-- /.row -->
                            </li>
                        </ul>
                    </form>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
    </div>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar shadow  sidebar-light-primary">
        <!-- Brand Logo -->
        <a href="/home/index.html" class="brand-link" style="border: none; background-color: #1e4356">
            <img src="../../dist/img/Logo.png"
                 alt="Manage Logo"
                 class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light" style="color:whitesmoke">Manage</span>
        </a>
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="../../dist/img/@photo" class="img-circle elevation-2" alt="User Image">
                </div>

                <div class="info">
                    <a href="#" style="color: #1e4356" class="d-block">@user.FullName</a>
                </div>
            </div>
            @if (signInManager.IsSignedIn(User) && User.IsInRole("Administartor"))
            {
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-home nav-icon"></i>
                                <p> Home</p>
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-user-cog nav-icon"></i>
                                <p>
                                    Admin
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>


                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Administration"
                                       asp-action="UsersList">
                                        <p>Users</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Administration"
                                       asp-action="RolesList">
                                        <p>Roles</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="far fa-address-card nav-icon"></i>
                                <p>
                                    Employee Info
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Employee"
                                       asp-action="EmployeeList">
                                        <p>Employee List</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Employee"
                                       asp-action="CreateEmployee">
                                        <p>Add Employee</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-suitcase nav-icon"></i>
                                <p>
                                    Leave
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="ApplyLeave" asp-route-id="@user.Id" asp-controller="Leave" class="nav-link ">
                                        <p> Apply </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="GetAllMyLeaves" asp-route-id="@user.Id" asp-controller="Leave" class="nav-link ">
                                        <p> My Leave </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="GetAllLeaves" asp-route-id="@user.Id" asp-controller="Leave" class="nav-link ">
                                        <p> Leave List </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu-->

            }
            else if (signInManager.IsSignedIn(User) && User.IsInRole("Registered User"))
            {
                <!--SideBar Menu-->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-home nav-icon"></i>
                                <p> Home</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a asp-action="EmployeeOfficialDetails" asp-route-id="@user.Id" asp-controller="Employee" class="nav-link">
                                <i class="far fa-address-card nav-icon"></i>
                                <p>
                                    Employee Info
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="fas fa-suitcase nav-icon"></i>
                                <p>
                                    Leave
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="ApplyLeave" asp-route-id="@user.Id" asp-controller="Leave" class="nav-link ">
                                        <p> Apply </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="GetAllMyLeaves" asp-route-id="@user.Id" asp-controller="Leave" class="nav-link ">
                                        <p> My Leave </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            }
        </div>

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content " style="padding-top: 20px;">
        <div class="container-fluid">
        @RenderBody()
        </div>
        </section>

    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Manage.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  
    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>

    @RenderSection("Scripts", required: false)
</body>
}


</html>
