@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Manage.Web.ViewModels.EditEmployeeOfficialDetailsAdminViewModel

<div class="row">
    <div class="col-12">
        <div class="card shadow-lg p-3 mb-5">
            <div class="card-title">
                <h3 class="card-title">Edit Employee Official Details</h3>
            </div>
            <form asp-controller="Employee" asp-action="EditEmployeeOfficialDetailsAdmin" method="post" class="mt-1">
                <input asp-for="Id" type="hidden" />
                @*<input asp-for="DepartmentId" type="hidden" />*@
                <div class="card-header border-0">
                   

                    <div class="table table-responsive table-borderless text-center">
                        s
                        <table>
                            <tr>
                                <td style="float:right">
                                    @if (Model.EmployeePersonalDetails == null)
                                    {
                                        <img class="imageThumbnail" src="~/dist/img/avatar.png" asp-append-version="true" alt="Employee Photograph" />
                                    }
                                    else
                                    {
                                        <img class="imageThumbnail" src="~/dist/img/@Model.EmployeePersonalDetails.PhotoPath" asp-append-version="true" alt="Employee Photograph">
                                    }
                                </td>
                                <td style="text-align:center; padding:30px">

                                    <h4>@Model.FullName</h4>
                                    <h5>@Model.Department.Name</h5>
                                </td>

                            </tr>
                        </table>

                    </div>
                </div>
                <!--/.card-header-->
                <!--form start-->
                <div class="card-body">
                    @*<form asp-controller="Employee" asp-action="EditEmployeeOfficialDetailsAdmin" method="post" class="mt-5">*@
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Title"></label>
                            <div class="col">
                                <select asp-for="Title" class="form-control" style="width:100%">
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                    <option>Miss</option>
                                    <option>Ms</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="FirstName" placeholder="First Name" class="form-control" />
                                <span asp-validation-for="FirstName"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="MiddleName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="MiddleName" class="form-control" placeholder="Middle Name" />
                                @*<span asp-validation-for="MiddleName"></span>*@
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="LastName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                <span asp-validation-for="LastName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="UserName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="UserName" class="form-control" placeholder="User Name" />
                                <span asp-validation-for="UserName"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="Password" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input type="password" name="Password" id="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmPassword" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row  mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="JoiningDate" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="JoiningDate" class="form-control ui-datepicker" type="date"
                                       placeholder="Joining Date" value="@Model.JoiningDate.ToString("yyyy-MM-dd")" />
                                <span asp-validation-for="JoiningDate"></span>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="JobTitle" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="JobTitle" class="form-control" placeholder="JobTitle" />
                                <span asp-validation-for="JobTitle"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-row  mt-3">
                        <div class="form-group col-md-4">
                            <label asp-for="Status" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                @*<input asp-for="Status" class="form-control" placeholder="Status" />*@
                                <select asp-for="Status" class="form-control select2bs4" style="width: 100%;">
                                    <option value="">---Select---</option>
                                    <option value="Full-Time">Full-Time</option>
                                    <option value="Part-Time">Part-Time</option>
                                    <option value="Contract">Contract</option>
                                    <option value="Casual">Casual</option>
                                </select>
                                <span asp-validation-for="Status"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="DaysWorkedInWeek" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input type="number" asp-for="DaysWorkedInWeek" class="form-control" placeholder=5 />
                                <span asp-validation-for="DaysWorkedInWeek"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="NumberOfHoursWorkedPerDay" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="NumberOfHoursWorkedPerDay" class="form-control" placeholder=4 />
                                <span asp-validation-for="NumberOfHoursWorkedPerDay"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="Department" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(@Model.departmentList, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Manager" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="Manager" class="form-control" placeholder="Manager" />
                                <span asp-validation-for="Manager"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3 text-center">
                        <div class="col-md-4">
                            @*<button type="submit" class="btn btn-outline-info m-5" asp-action="EmployeeOfficialDetails" asp-controller="Employee" asp-route-employeeId="@Model.Id">Back</button>*@
                            <button type="submit" class="btn btn-outline-info m-5">Save</button>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeeList" asp-controller="Employee" class="btn btn-outline-secondary m-5 ">Back</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeePersonalDetails" asp-controller="Employee" class="btn btn-outline-success m-5 ">Next</a>
                        </div>
                    </div>


                    @*</form>*@
                </div>
            </form>
            <!--/.card-body-->
        </div>
        <!--/.card-->
    </div>
</div>