@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Manage.Web.ViewModels.EditEmployeeOfficialDetailsViewModel
<!-- Main content -->
<div class="row">
    <div class="col-12">
        <div class="card shadow-lg p-3 mb-5">
            <div class="card-title">
                <h3 class="card-title">Edit Employee Details</h3>
            </div>
            <form method="post" asp-action="EditEmployeeOfficialDetails" asp-controller="Employee" class="mt-5">

                <input asp-for="Id" type="hidden" />
                <div class="card-header border-0">

                    <div class="table table-responsive table-borderless text-center">
                        <table>
                            <tr>
                                <td style="float:right">
                                    @if (Model.EmployeePersonalDetails == null)
                                    {
                                        <img class="imageThumbnail" src="~/dist/img/avatar.png" asp-append-version="true" alt="Employee Photograph" />
                                    }
                                    else
                                    {
                                        <img class="imageThumbnail" src="~/dist/img/@Model.EmployeePersonalDetails.PhotoPath" asp-append-version="true" alt="Employee Photograph">
                                    }

                                </td>
                                <td style="text-align:center; padding:30px">
                                    <h4>@Model.FullName</h4>
                                    <h5>@Model.Department.Name</h5>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Title" class="col-auto col-form-label text-sm"></label>
                            @*<input asp-for="Title" class="form-control" readonly />*@
                            @Html.TextBoxFor(m => m.Title, new { @readonly = "readonly", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form row">
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="FirstName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="MiddleName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="MiddleName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="LastName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="LastName" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="UserName" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="UserName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="Email" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="Password" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input type="password" asp-for="Password" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmPassword" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row  mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="JoiningDate" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="JoiningDate" class="form-control ui-datepicker" type="date" disabled
                                       placeholder="Joining Date" value="@Model.JoiningDate.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="JobTitle" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="JobTitle" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-row  mt-3">
                        <div class="form-group col-md-4">
                            <label asp-for="Status" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="Status" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="DaysWorkedInWeek" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="DaysWorkedInWeek" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="NumberOfHoursWorkedPerDay" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="NumberOfHoursWorkedPerDay" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="Department" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="Department.Name" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Manager" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input asp-for="Manager" class="form-control" readonly />
                                @*<input asp-for="Manager" class="form-control" placeholder="Manager" />
                            <span asp-validation-for="Manager"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3 text-center">
                        <div class="col-md-4">
                            <a type="submit" class="btn btn-outline-info m-5" asp-action="EmployeeOfficialDetails" asp-controller="Employee" asp-route-id="@Model.Id">Back</a>
                        </div>
                        <div class="col-md-4">
                            @*<button type="submit" class="btn btn-outline-info m-5">Save</button>*@
                            <input type="submit" class="btn btn-outline-info" m-5" value="Save" />
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeePersonalDetails" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-success m-5">Next</a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>