@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Manage.Web.ViewModels.EmployeePersonalDetailsViewModel

@{ 
    var photoPath = "";

    if(Model == null)
    {
        photoPath = "~/dist/img/avatar.png";
    }
    else
    {
        photoPath = "~/dist/img/" + Model.PhotoPath;
    }
}


<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Employee Personal Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="FullName" class="col-auto col-form-label small form-text">Employee Name</label>
                        <div class="col">
                            <p asp-for="FullName" class="form-control" type="text">@Model.FullName</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6  ">
                        <div class="col">
                            <img src="@photoPath" asp-append-version="true" class="imageThumbnail" />
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6">
                        <label asp-for="DateOfBirth" class="col-auto col-form-label small form-text">Date Of Birth</label>
                        <div class="col">
                            <p asp-for="DateOfBirth" class="form-control" type="date" placeholder="Date of Birth">@Model.DateOfBirth.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Nationality" class="col-auto col-form-label small form-text"></label>
                        <div class="col">
                            <p asp-for="Nationality" class="form-control" placeholder="Nationality">@Model.Nationality</p>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-6">
                        <label asp-for="MaritalStatus" class="col-auto col-form-label small form-text">Marital Status</label>
                        <div class="col">
                            <p asp-for="MaritalStatus" class="form-control" placeholder="MaritalStatus">@Model.MaritalStatus</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Gender" class="col-auto col-form-label small form-text"></label>
                        <div class="=col">
                            <p asp-for="Gender" class="form-control" placeholder="Gender">@Model.Gender</p>
                        </div>
                    </div>
                </div>

                <p>Employee Addresss</p>
                <div class="form-group mt-3">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="HouseNumber" class="col-auto col-form-label small form-text"></label>
                                <div class="col">
                                    <p asp-for="HouseNumber" class="form-control" placeholder="Gender">@Model.HouseNumber</p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Street" class="col-auto col-form-label small form-text"></label>
                                <div class="col">
                                    <p asp-for="Street" class="form-control" placeholder="Street">@Model.Street</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="City" class="col-auto col-form-label small form-text"></label>
                                <div class="col">
                                    <p asp-for="City" class="form-control" placeholder="City">@Model.City</p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="State" class="col-auto col-form-label small form-text"></label>
                                <div class="col">
                                    <p asp-for="State" class="form-control" placeholder="State">@Model.State</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="Country" class="col-auto col-form-label small form-text"></label>
                                <div class="col">
                                    <p asp-for="Country" class="form-control" placeholder="Country">@Model.Country</p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ZipCode" class="col-auto col-form-label small form-text"></label>
                                <div class="col">
                                    <p asp-for="ZipCode" class="form-control" placeholder="ZipCode">@Model.ZipCode</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <p>Banking Details</p>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <label asp-for="BankName" class="col-auto col-form-label small form-text"></label>
                        <div class="col">
                            <p asp-for="BankName" class="form-control" placeholder="BankName">@Model.BankName</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Branch" class="col-auto col-form-label small form-text"></label>
                        <div class="col">
                            <p asp-for="Branch" class="form-control" placeholder="Branch">@Model.Branch</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="AccountName" class="col-auto col-form-label small form-text"></label>
                        <div class="col">
                            <p asp-for="AccountName" class="form-control" placeholder="AccountName">@Model.AccountName</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="AccountNumber" class="col-auto col-form-label small form-text"></label>
                        <div class="col">
                            <p asp-for="AccountNumber" class="form-control" placeholder="AccountNumber">@Model.AccountNumber</p>
                        </div>
                    </div>
                </div>

                <p>Employee Emergency Contact Details</p>
                <div class="form-group mt-3">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContact" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContact" class="form-control" placeholder="EmergencyContact">@Model.EmergencyContact</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Relationship" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="Relationship" class="form-control" placeholder="Relationship">@Model.Relationship</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactPhoneNumber" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactPhoneNumber" class="form-control" placeholder="EmergencyContactPhoneNumber">@Model.EmergencyContactPhoneNumber</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactHouseNumber" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactHouseNumber" class="form-control" placeholder="EmergencyContactHouseNumber">@Model.EmergencyContactHouseNumber</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactStreet" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactStreet" class="form-control" placeholder="EmergencyContactStreet">@Model.EmergencyContactStreet</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactCity" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactCity" class="form-control" placeholder="EmergencyContactCity">@Model.EmergencyContactCity</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactState" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactState" class="form-control" placeholder="EmergencyContactState">@Model.EmergencyContactState</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactCountry" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactCountry" class="form-control" placeholder="EmergencyContactCountry">@Model.EmergencyContactCountry</p>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="EmergencyContactZipCode" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="EmergencyContactZipCode" class="form-control" placeholder="EmergencyContactZipCode">@Model.EmergencyContactZipCode</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3 text-center">
                    <div class="col-md-6">
                        <a asp-action="EditEmployeePersonalDetails" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-success m-5 ">Edit</a>
                    </div>
                    <div class="col-md-6">
                        <a asp-action="EmployeeOfficialDetails" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-secondary m-5 ">Back</a>
                    </div>
                </div>
            </div>
            <!--/.card-body-->
        </div>
        <!--/.card-->
    </div>
</section>