@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Manage.Core.Entities
@inject UserManager<ApplicationUser> userManager;
@inject SignInManager<ApplicationUser> signInManager;
@*@inject IEmployeePersonalDetailsPageService employeePersonalDetailsPageService;*@

@{
//var photo = "";
//var user = userManager.Users.FirstOrDefault(x => x.UserName == User.Identity.Name);
//var emp = await employeePersonalDetailsPageService.GetEmployeePersonalDetailsById(user.Id);
//if (emp == null)
//{
//    photo = "/avatar.png";
//}
//else
//{
//    photo = emp.PhotoPath;
//}

}




@{
    var photoPath = "";

    if (Model.EmployeePersonalDetails == null)
    {
        photoPath = "~/dist/img/avatar.png";
    }
    else
    {
        photoPath = "~/dist/img/" + Model.EmployeePersonalDetails.PhotoPath;
    }
}
@model Manage.Web.ViewModels.ApplicationUserViewModel
    <!-- Main content -->
<div class="row">
    <div class="col-12">
        <div class="card shadow-lg p-3 mb-5">
            <div class="card-title">
                <h3 class="card-title cardTitle">Employee Official Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-header border-0">
                <div class="row align-items-center mt-3 mb-3">
                    <div class="col-sm-6 col-md-3">
                        @if (Model.EmployeePersonalDetails == null)
                        {
                            <img class="imageThumbnail" src="~/dist/img/avatar.png" asp-append-version="true" alt="Employee Photograph" />
                        }
                        else
                        {
                            <img class="imageThumbnail" src="~/dist/img/@Model.EmployeePersonalDetails.PhotoPath" asp-append-version="true" alt="Employee Photograph">
                        }
                    </div>
                    <div class="col ">
                        <h4>@Model.FullName</h4>
                        <h5>@Model.Department.Name</h5>
                    </div>
                </div>
            </div>
            @*<div class="table table-responsive table-borderless text-center mt-3">
            <table>
                <tr>
                    <td><img src="@photoPath" asp-append-version="true" class="imageThumbnail" /></td>
                    <td>
                        <h4>@Model.FirstName</h4>
                        <h5>Department:@Model.Department.Name</h5>
                    </td>
                </tr>
            </table>
        </div>*@
            <!--Employee Details Form-->
            <div class="card-body">

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="Title" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="Title" class="form-control">@Model.Title</p>
                        </div>
                    </div>
                </div>
                <div class="form row">
                    <div class="form-group col-md-4">
                        <label asp-for="FirstName" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="FirstName" class="form-control">@Model.FirstName</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MiddleName" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="MiddleName" class="form-control">@Model.MiddleName</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="LastName" class="col-auto col-form-label text-sm"></label>
                        <p asp-for="LastName" class="form-control">@Model.LastName</p>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <label asp-for="UserName" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="UserName" class="form-control">@Model.UserName</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="Email" class="form-control">@Model.Email</p>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <label asp-for="Password" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="Password" class="form-control">*********</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ConfirmPassword" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="ConfirmPassword" class="form-control">********</p>
                        </div>
                    </div>
                </div>
                <div class="form-row  mt-3">
                    <div class="form-group col-md-6">
                        <label asp-for="JoiningDate" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="JoiningDate" type="date" class="form-control" placeholder="Joining Date">@Model.JoiningDate.ToShortDateString()</p>

                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="JobTitle" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="JobTitle" class="form-control">@Model.JobTitle</p>
                        </div>
                    </div>
                </div>
                <div class="form-row  mt-3">
                    <div class="form-group col-md-4">
                        <label asp-for="Status" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="Status" class="form-control">@Model.Status</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="DaysWorkedInWeek" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="DaysWorkedInWeek">@Model.DaysWorkedInWeek</p>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="NumberOfHoursWorkedPerDay" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="NumberOfHoursOfPerDay">@Model.NumberOfHoursWorkedPerDay</p>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="form-group col-md-6">
                        <label asp-for="Department" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="Department" class="form-control">@Model.Department.Name</p>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Manager" class="col-auto col-form-label text-sm"></label>
                        <div class="col">
                            <p asp-for="Manager" class="form-control">@Model.Manager</p>
                            @*<input asp-for="Manager" class="form-control" placeholder="Manager" />
                        <span asp-validation-for="Manager"></span>*@
                        </div>
                    </div>
                </div>
                <div class="form-row mt-3">
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Administartor"))
                    {
                        <div class="col-md-4">
                            <a type="submit" class="btn btn-outline-info m-5" asp-action="EditEmployeeOfficialDetailsAdmin" asp-controller="Employee" asp-route-id="@Model.Id">Edit</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeeList" asp-controller="Employee" class="btn btn-outline-secondary m-5">Cancel</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeePersonalDetails" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-success m-5 ">Next</a>
                        </div>
                    }
                    else if (signInManager.IsSignedIn(User))
                    {
                        <div class="col-md-4">
                            <a type="submit" class="btn btn-outline-info m-5" asp-action="EditEmployeeOfficialDetails" asp-controller="Employee" asp-route-id="@Model.Id">Edit</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeeList" asp-controller="Employee" class="btn btn-outline-secondary m-5 ">Cancel</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeePersonalDetails" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-success m-5 ">Next</a>
                        </div>
                    }
                </div>
            </div>
            <!--/.card-body-->
        </div>
        <!--/.card-->
    </div>
</div>