@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Manage.Web.ViewModels.EmployeeListViewModel>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Employee List</h3>
                        <a data-toggle="tooltip" title="Add Employee"><i class="fas fa-plus" style="float:right; color:#b60962" ;></i></a>
                    </div>
                    <!--/.card-header-->
                    <!--form start-->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Department
                                    </th>
                                    <th>
                                        Job Title
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Manager
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in Model)
                                {
                                    <tr>
                                        <td>
                                            photo
                                        </td>
                                        <td>
                                            <a asp-controller="Employee" asp-action="EmployeeOfficialDetails" asp-route-employeeId="@employee.Id">@employee.FullName</a>
                                           
                                        </td>
                                        <td>
                                            @employee.Department.Name
                                        </td>
                                        <td>
                                            @employee.JobTitle
                                        </td>
                                        <td>
                                            @employee.Status
                                        </td>
                                        <td>
                                            @employee.Manager
                                        </td>
                                        <td>
                                            @employee.Email
                                        </td>
                                    </tr>
                                }

                            </tbody>


                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!--DataTables-->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>