@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Manage.Web.ViewModels.ApplicationUserViewModel
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Employee Official Details </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table table-responsive table-borderless text-center mt-3">
                        <table>
                            <tr>
                                <td>Photo</td>
                                <td>
                                    <h4>@Model.FullName</h4>
                                    <h5>Department:@Model.Department.Name</h5>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!--Employee Details Form-->
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Title"></label>
                            <p asp-for="Title" class="form-control">@Model.Title</p>
                        </div>

                    </div>

                    <div class="form row">
                        <div class="form-group col-md-4">
                            <label asp-for="FirstName" class="col-auto col-form-label small form-text"></label>

                            <div class="col">
                                <p asp-for="FirstName" class="form-control">@Model.FirstName</p>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="MiddleName" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="MiddleName" class="form-control">@Model.MiddleName</p>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="LastName" class="col-auto col-form-label small form-text"></label>
                            <p asp-for="LastName" class="form-control">@Model.LastName</p>
                        </div>
                    </div>



                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="UserName" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="UserName" class="form-control">@Model.UserName</p>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="Email" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="Email" class="form-control">@Model.Email</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="Password" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="Password" class="form-control"></p>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="ConfirmPassword" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="ConfirmPassword" class="form-control"></p>

                            </div>
                        </div>
                    </div>


                    <div class="form-row  mt-3">
                        <div class="form-group col-md-6">
                            <label asp-for="JoiningDate" class="col-auto col-form-label small form-text"></label>
                            <div class="col">

                                <p asp-for="JoiningDate" class="form-control">@Model.JoiningDate.ToShortDateString()</p>
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label asp-for="JobTitle" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="JobTitle" class="form-control">@Model.JobTitle</p>
                            </div>
                        </div>

                    </div>

                    <div class="form-row  mt-3">
                        <div class="form-group col-md-4">
                            <label asp-for="Status" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="Status">@Model.Status</p>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label asp-for="DaysWorkedInWeek" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="DaysWorkedInWeek">@Model.DaysWorkedInWeek</p>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="NumberOfHoursWorkedPerDay" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <p asp-for="NumberOfHoursOfPerDay">@Model.NumberOfHoursWorkedPerDay</p>
                            </div>
                        </div>


                    </div>

                    <div class="form-row mt-3">

                        <div class="form-group col-md-6">
                            <label asp-for="Department" class="col-auto col-form-label small form-text"></label>
                            <div class="col">

                                <p asp-for="Department" class="form-control">@Model.Department.Name</p>

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Manager" class="col-auto col-form-label small form-text"></label>

                            <div class="col">
                                <p asp-for="Manager" class="form-control">@Model.Manager</p>
                                @*<input asp-for="Manager" class="form-control" placeholder="Manager" />
                    <span asp-validation-for="Manager"></span>*@
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-3 text-center">

                        <div class="col-md-4">
                            <a type="submit" class="btn btn-outline-info m-5" asp-action="EditEmployeeOfficialDetails" asp-controller="Employee" asp-route-id="@Model.Id">Edit</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeeList" asp-controller="Employee" class="btn btn-outline-secondary m-5 ">Cancel</a>
                        </div>
                        <div class="col-md-4">
                            <a asp-action="EmployeePersonalDetail" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-success m-5 ">Next</a>
                        </div>
                        @*<div class="col-md-4">
                <a asp-action="EditEmployeePersonalDetail" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-success m-5 ">Next</a>
            </div>*@
                    </div>

                </div>
            
                <!--/.card-body-->
            </div>
            <!--/.card-->
        </div>
    </section>