@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using X.PagedList.Mvc.Core;
@using X.PagedList
@using X.PagedList.Mvc.Core.Common;

@model IPagedList<Manage.Web.ViewModels.EmployeeListViewModel>


<div class="row">
    <div class="col-12">
        <div class="card shadow-lg p-3 mb-5 bg-white">
            <div class="card-header border-0">
                <h3 class="card-title text-color ">Employee List</h3>
                <a asp-action="CreateEmployee" asp-controller="Employee" style="float:right" data-toggle="tooltip" data-placement="bottom" title="Add Employee"><i class="fas fa-plus" style="float: right; color: #946e9f" ;></i></a>
            </div>
            <!--/.card-header-->
            <!--form start-->

            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered  table-hover">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th class="text-color">
                                 @Html.ActionLink("Full Name", "EmployeeList", new { sortOrder = ViewBag.SortByName })  <span>&#129113;</span>
                                </th>
                                <th style="color: #1e4356">
                                    Department
                                </th>
                                <th class="text-color">
                                    Job Title
                                </th>
                                <th class="text-color">
                                    Status
                                </th>
                                <th class="text-color">
                                    Manager
                                </th>
                                <th class="text-color">
                                    Email
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var employee in Model)
                            {
                                var photoPath = "";
                                if (employee.EmployeePersonalDetails == null)
                                {

                                    photoPath = "~/dist/img/avatar.png";
                                }
                                else
                                {
                                    photoPath = "~/dist/img/" + employee.EmployeePersonalDetails.PhotoPath;
                                }
                                <tr>
                                    <td>
                                        <img class="listImg" src="@photoPath" asp-append-version="true" alt="Emp Photo" />
                                    </td>
                                    <td>
                                        <a asp-controller="Employee" asp-action="EmployeeOfficialDetails" asp-route-id="@employee.Id">@employee.FullName</a>

                                    </td>
                                    <td>
                                        @if (employee.Department != null)
                                        {
                                            @employee.Department.Name
                                        }


                                    </td>
                                    <td>
                                        @employee.JobTitle
                                    </td>
                                    <td>
                                        @employee.Status
                                    </td>
                                    <td>
                                        @employee.Manager
                                    </td>
                                    <td>
                                        @employee.Email
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("EmployeeList", new { page }), new PagedListRenderOptions
               {
                   //DisplayLinkToIndividualPages = true,
                   //DisplayPageCountAndCurrentLocation = false,
                   //MaximumPageNumbersToDisplay = 10,
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" },

               })


                </div>
            </div>
        </div>
    </div>
</div>




<!--DataTables-->
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(function () {
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>