@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Manage.Web.ViewModels.EditMyLeaveViewModel

<div class="row">
    <div class="col-12">

        <div class="card shadow-lg p-3 mb-5">
            <div class="card-header border-0">
                <h3 class="card-title">Edit My Leave</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" asp-action="EditMyLeave">

                    <input type="hidden" asp-for="LeaveId" />
                    <input type="hidden" asp-for="@Model.Leave.Id" />
                    <input type="hidden" asp-for="EmployeeId" />
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <div>
                                <span>@Model.Employee.FullName</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="form-group col-6">
                            <label asp-for="@Model.Leave.CurrentDate" class="col-form-label small form-text">Date Applied:</label>
                            <div class="col">
                                <input type="text" readonly class="form-control-plaintext" asp-for="@Model.Leave.CurrentDate">
                            </div>
                        </div>
                    </div>

                    <div class="form-label mt-3">
                        <label class="col-form-label small form-text">Date(s) Requested For:</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group  col-md-6 ">
                            <label asp-for="@Model.Leave.FromDate" class="col-auto col-form-label small form-text">From Date:</label>
                            <div class="col">
                                <input asp-for="@Model.Leave.FromDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control datepicker" />
                            </div>
                        </div>
                        <div class="form-group col-md-6 ">
                            <label asp-for="@Model.Leave.TillDate" class="col-auto col-form-label small form-text">Till Date:</label>
                            <div class="col">
                                <input asp-for="@Model.Leave.TillDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control datepicker" />
                            </div>
                        </div>
                    </div>

                    <div class="form-row  mt-3">
                        <div class="form-group col-4">
                            <label asp-for="@Model.Leave.LeaveType" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <select asp-for="@Model.Leave.LeaveType">
                                    <option>--Select--</option>
                                    <option value="Annual Leave">Annual Leave</option>
                                    <option value="Sick Leave">Sick Leave</option>
                                </select>
                                <span asp-validation-for="@Model.Leave.LeaveType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-4">
                            <label asp-for="@Model.Leave.Duration" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <select asp-for="@Model.Leave.Duration">
                                    <option>--Select--</option>
                                    <option>Full Day</option>
                                    <option>First Half Day</option>
                                    <option>Second Half Day</option>
                                    <option>Others</option>
                                </select>
                                <span asp-validation-for="@Model.Leave.Duration" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-4">
                            <label class="col-auto col-form-label small form-text">Number of Leave Days</label>
                            @{

                                double numberOfDaysofLeave = 0;
                                DateTime end = Model.Leave.TillDate;
                                DateTime start = Model.Leave.FromDate;

                                if (Model.Leave.Duration == "First Half Day" || Model.Leave.Duration == "Second Half Day")
                                {
                                    numberOfDaysofLeave = (end - start).Days + 0.5;
                                }
                                else
                                {
                                    numberOfDaysofLeave = (end - start).Days + 1;
                                }

                                <div class="col">
                                    @numberOfDaysofLeave
                                </div>
                            }
                        </div>

                    </div>

                    <div class="form-row mt-3">
                        <div class="form-group col-12">
                            <label asp-for="@Model.Leave.Reason" class="col-form-label small form-text ">Reason:</label>
                            <div class="col-auto">
                                <input class="leave-form-input-text form-control" asp-for="@Model.Leave.Reason" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-12">
                            <label asp-for="@Model.Leave.Comment" class="col-form-label small form-text">Comment:</label>
                            <div class="col-auto">
                                <input type="text" readonly class=" leave-form-input-text form-control-plaintext" id="Comment" name="Comment" asp-for="@Model.Leave.Comment" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-6">
                            <label class="col-auto col-form-label small form-text">Net Leave Balance</label>
                            <div class="col">
                                <ul>
                                    <li>
                                        Annual Leave balance : @Model.Leave.BalanceAnnualLeave @*@{
                            Math.Round(@Model.LeaveModel.BalanceAnnualLeave, 2);
                        };*@
                                    </li>
                                    <li>
                                        Sick Leave balance : @Model.Leave.BalanceSickLeave

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label class="col-auto col-form-label small form-text">Status</label>
                            <div class="col">
                                <input name="LeaveStatus" id="LeaveStatus" value="@Model.Leave.LeaveStatus" />
                            </div>
                        </div>
                    </div>


                    <div class="form-row mt-3">
                        <div class="form-group col-6">
                            <label asp-for="File" class="col-auto col-form-label small form-text">Replace Documents</label>
                            <div class="col custom-file">
                                <input asp-for="File" class="form-control custom-file-input" />
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                        </div>
                        <div class="=form-group col-6">
                            <label asp-for="@Model.ExistingFilePath" class="col-auto col-form-label small form-text">Existing File</label>
                            <div class="col">
                                <input asp-for="@Model.ExistingFilePath" class="form-control readonly" />
                            </div>
                        </div>
                    </div>


                    <div class="form-row mt-5">
                        <div class="form-group col-12 float-right">
                            <button type="submit" class="btn btn-outline-success ">Update</button>
                            <a  asp-action="GetAllMyLeaves" asp-controller="Leave" asp-route-id="@Model.EmployeeId" class="btn btn-outline-info ">Cancel</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>






@section Scripts {

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("_").pop();
                $(this).next('.custom-file-label').html(fileName);
            });

        });
    </script>
}


