@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    bool flag = false;
  
}


@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;

@model IPagedList<Manage.Web.ViewModels.AppUserViewModel>

<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Search</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form id="myForm" class="mt-5" asp-controller="Leave" asp-action="GetAllLeaves">
                    <div class="form row">
                        <div class="form-group col-md-6">
                            <label>From Date</label>
                            <div class="col">
                                <input type="date" class="form-control" name="searchFromDate" id="searchFromDate" value="@ViewData["CurrentFilterFD"]" />
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>To Date</label>
                            <div class="col">
                                <input type="date" class="form-control" name="searchToDate" id="searchToDate" value="@ViewData["CurrentFilterTD"]" />
                            </div>
                        </div>
                    </div>
                    <div class="form row mt-3">
                        <div class="form-group col-md-6">
                            <label>Leave Type</label>
                            <div class="col">
                                <select name="searchLeaveType" id="searchLeaveType" value="@ViewData["CurrentFilterLT"]" onchange="getSelectValue();">
                                    <option value="">--Select--</option>
                                    <option value="Annual Leave">Annual Leave</option>
                                    <option value="Casual Leave">Casual Leave</option>
                                    <option value="Sick Leave">Sick Leave</option>
                                    <option value="Maternity Leave">Maternity Leave</option>
                                    <option value="Parental Leave">Parental Leave</option>
                                </select>

                            </div>
                        </div>
                        <div class="form group col-md-6">
                            <label>Employee </label>
                            <div class="col-md-6">
                                <input type="hidden" id="employeeId" name="employeeId" />
                                <input type="text" name="employeeName" id="employeeName" value="@ViewData["CurrentFilterE"]" />
                            </div>
                        </div>
                    </div>


                    <div class="form-group row mt-3">
                        <div class="form row col-md-3">
                            <div class="col-md-2">
                                @if (ViewData["CurrentFilterSA"] != null)
                                {
                                    flag = (bool)ViewData["CurrentFilterSA"];
                                }
                                <input type="checkbox" name="searchAll" id="searchAll" checked=@flag />
                            </div>
                            <label>All</label>
                        </div>
                        <div class="form row col-md-3">
                            <div class="col-md-2">
                                @if (ViewData["CurrentFilterA"] != null)
                                {
                                    flag = (bool)ViewData["CurrentFilterA"];
                                }
                                <input type="checkbox" name="searchAprroved" id="searchAprroved" checked="@flag" />
                            </div>
                            <label>Approved</label>
                        </div>
                        <div class="form row col-md-3">
                            <div class="col-md-2">
                                @if (ViewData["CurrentFilterSP"] != null)
                                {
                                    flag = (bool)ViewData["CurrentFilterSP"];
                                }

                                <input type="checkbox" name="searchPending" id="searchPending" checked="@flag" />
                            </div>
                            <label>Pending</label>
                        </div>
                        <div class="form row col-md-3">
                            <div class="col-md-2">
                                @if (ViewData["CurrentFilterSD"] != null)
                                {
                                    flag = (bool)ViewData["CurrentFilterSD"];
                                }
                                <input type="checkbox" name="searchDeclined" id="searchDeclined" checked="@flag" />
                            </div>
                            <label>Declined</label>
                        </div>
                    </div>
                    <div class="form-group row mt-3">
                        <div class="col-sm-10" style="float:right">
                            <button type="submit" class="btn btn-outline-success">Search</button>
                            <button type="reset" id="reset" class="btn btn-outline-primary">Reset</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="container-fluid">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">Leave List</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row data-table">
                    <div class="card-table">
                        <table class="table table-head-fixed  table-hover" style="display:table">
                            <!-- /.card-header -->
                            @*<div class="card-body  p-0" style="height: 300px;">
                                <table class="table  text-nowrap">*@
                            <thead>
                                <tr>
                                    <th>Employee</th>
                                    <th>From Date</th>
                                    <th>Till Date</th>
                                    <th>Leave Type</th>
                                    <th>Number Of Days</th>
                                    <th>Reason</th>
                                    <th>Leave Balance(Days)</th>
                                    <th> Status</th>
                                    <th>Leave Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var employee in Model)
                                {
                                    <tr>
                                        <td>@employee.FullName</td>
                                        <td>@employee.FromDate.ToShortDateString()</td>
                                        <td>@employee.TillDate.ToShortDateString()</td>
                                        <td>@employee.LeaveType</td>
                                        <td>@employee.NumberOfLeaveDays</td>
                                        <td>@employee.Reason</td>
                                        <td>
                                            @{
                                                if (employee.LeaveType == "Annual Leave")

                                                {
                                                    var netLeaveBalance = employee.BalanceAnnualLeave - employee.NumberOfLeaveDays * 7.6;
                                                    <span>@netLeaveBalance</span>
                                                }
                                                else if (employee.LeaveType == "Sick Leave")
                                                {
                                                    var netSickLeavesBalance = employee.BalanceSickLeave - employee.NumberOfLeaveDays * 7.6;
                                                    <span>@netSickLeavesBalance</span>
                                                }
                                            }
                                        </td>
                                        <td>Pending </td>
                                        <td><a asp-action="LeaveDetails" asp-controller="Leave" asp-route-leaveId="@employee.LeaveId">Leave Details</a></td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <br />


                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("GetAllLeaves", new { page }), new PagedListRenderOptions
                {
                    DisplayLinkToIndividualPages = true,
                    DisplayPageCountAndCurrentLocation = false,
                    MaximumPageNumbersToDisplay = 10,
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },

                })

            </div>
        </div>
    </div>
</section>