@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@*@model Manage2.Core.Entities.EmployeeLeave*@
@model Manage.Web.ViewModels.EmployeeLeaveViewModel



<div class="row">
    <div class="col-12">

        <div class="card shadow-lg p-3 mb-5">
            <div class="card-header">
                <h3 class="card-title">Leave Details</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form method="post" class="col-lg-12" asp-action="LeaveDetails">

                    <input type="hidden" asp-for="LeaveId" />
                    <input type="hidden" asp-for="EmployeeId" />
                    <input type ="hidden" asp-for="@Model.Leave.Id" />
 
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <div>
                                <span>@Model.Employee.FullName</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-row mt-3">
                        <div class="form-group col-6">
                            <label asp-for="@Model.Leave.CurrentDate" class="col-form-label small form-text">Date Applied:</label>
                            <div class="col">
                                <input type="date" readonly class="form-control-plaintext" asp-format="{0:yyyy-MM-dd}" asp-for="@Model.Leave.CurrentDate">
                            </div>
                        </div>
                    </div>


                    <div class="form-label mt-3">
                        <label class="col-form-label small form-text">Date(s) Requested For:</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group  col-md-6 ">
                            <label asp-for="@Model.Leave.FromDate" class="col-auto col-form-label small form-text">From Date:</label>
                            <div class="col">
                                <input asp-for="@Model.Leave.FromDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control datepicker" readonly />
                            </div>
                        </div>

                        <div class="form-group col-md-6 ">
                            <label asp-for="@Model.Leave.TillDate" class="col-auto col-form-label small form-text">Till Date:</label>
                            <div class="col">
                                <input asp-for="@Model.Leave.TillDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control datepicker" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="form-row  mt-3">
                        <div class="form-group col-4">
                            <label asp-for="@Model.Leave.LeaveType" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <select asp-for="@Model.Leave.LeaveType" disabled>
                                    <option value="">--Select--</option>
                                    <option value="Annual Leave">Annual Leave</option>
                                    <option value="Sick Leave">Sick Leave</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group col-4">
                            <label asp-for="@Model.Leave.Duration" class="col-auto col-form-label small form-text"></label>
                            <div class="col">
                                <select asp-for="@Model.Leave.Duration" disabled>
                                    <option>--Select--</option>
                                    <option>Full Day</option>
                                    <option>First Half Day</option>
                                    <option>Second Half Day</option>
                                    <option>Others</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-4">
                            <label class="col-auto col-form-label small form-text">Number of Leave Days</label>
                            @{

                                double numberOfDaysofLeave = 0;
                                DateTime end = Model.Leave.TillDate;
                                DateTime start = Model.Leave.FromDate;


                                if (Model.Leave.Duration == "First Half Day" || Model.Leave.Duration == "Second Half Day")
                                {
                                    numberOfDaysofLeave = (end - start).Days + 0.5;
                                }
                                else
                                {
                                    numberOfDaysofLeave = (end - start).Days + 1;
                                }

                                <div class="col">
                                    @numberOfDaysofLeave
                                </div>
                            }
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-12">
                            <label asp-for="@Model.Leave.Reason" class="col-form-label small form-text ">Reason:</label>
                            <div class="col-auto">
                                <input class="leave-form-input-text form-control" asp-for="@Model.Leave.Reason" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-12">
                            <label asp-for="@Model.Leave.Comment">Comment:</label>
                            <div class="col-auto">
                                <input  class=" leave-form-input-text form-control-plaintext" id="Comment" name="Comment" asp-for="@Model.Leave.Comment" />
                            </div>
                        </div>
                    </div>


                    <div class="form-row mt-3">
                        <div class="form-group col-4">
                            <label class="col-auto col-form-label small form-text">Net Leave Balance</label>
                            <div class="col">
                                <ul>
                                    <li>
                                        Annual Leave balance : @{
                                            Math.Round(@Model.Leave.BalanceAnnualLeave, 2);
                                        };
                                    </li>
                                    <li>
                                        Sick Leave balance : @Model.Leave.BalanceSickLeave

                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="form-group col-4">
                            <label class="col-auto col-form-label small form-text">Status</label>
                            <div class="col">
                                @Model.Leave.LeaveStatus
                            </div>
                        </div>

                        <div class="form-group col-4">
                            <label asp-for="@Model.Leave.FilePath" class="col-auto col-form-label small form-text">Attach Documents</label>
                            <div class="col custom-file">
                                <input readonly class="form-control  custom-file-input" asp-for="@Model.Leave.FilePath" />
                            </div>
                        </div>

                    </div>

                    <div class=form-row mt-3>
                        <div class="form-group col-12 float-right">

                            <button type="submit" name="Approved" value="Approved" class="btn btn-outline-success ">Approved</button>
                            <button type="submit" name="Declined" value="Declined" class="btn btn-outline-info ">Declined</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $('#Leave_FromDate').datepicker({
            format: 'dd/mm/yyyy',
        }).attr('disabled', 'true');

        $('#Leave_TillDate').datepicker({
            format: 'dd/mm/yyyy',
        }).attr('disabled', 'true');
 
    </script>
}


