@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Manage.Web.ViewModels.ApplyLeaveViewModel

<div class="row">
    <div class="col-12">
        @*<p>@ViewBag.ErrorMsg</p>*@
        <div class="card shadow-lg p-3 mb-5">
            <div class="card-header cardHeader border-0">
                <h3 class="card-title cardTitle">Apply Leave</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <form id="formId" enctype="multipart/form-data" method="post" asp-action="ApplyLeave" asp-controller="Leave">
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            @*<label class=" col-form-label small form-text">Date Applied On:</label>*@
                            <label asp-for="@Model.CurrentDate" class="col-auto col-form-label text-sm">Current Date:</label>
                            <div class="col">
                                <input asp-for="CurrentDate" class="form-control" type="date" disabled
                                       placeholder="Current Date" value="@Model.CurrentDate.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="@Model.JoiningDate" class="col-auto col-form-label text-sm">Joining Date:</label>
                            <div class="col">
                                <input asp-for="JoiningDate" class="form-control" type="date" readonly
                                       placeholder="Joining Date" value="@Model.JoiningDate.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>

                    <div class="form-label mt-3">
                        <label class="col-form-label small form-text">Date(s) Requested For:</label>
                    </div>
                    <div class="form-row">
                        <div class="form-group  col-md-6 ">
                            <label asp-for="FromDate" class="col-auto col-form-label text-sm">From Date:</label>
                            <div class="col">
                                <input asp-for="FromDate" type="date" class="form-control datepicker" />
                                @*<input asp-for="FromDate" class="form-control datepicker" typeof="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />*@
                                <span asp-validation-for="@Model.FromDate" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="TillDate" class="col-auto col-form-label text-sm">Till Date:</label>
                            <div class="col">
                                @*@Html.TextBoxFor(m => m.TillDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })*@
                                <input asp-for="TillDate" type="date" class="form-control datepicker" />
                                @*<input asp-for="TillDate" class="form-control datepicker"  typeof s="date" value="@DateTime.Today.ToString("yyyy-MM-dd")" />*@
                                <span asp-validation-for="@Model.TillDate" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row  mt-3">
                        <div class="form-group col-6">
                            <label asp-for="@Model.LeaveType" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <select asp-for="@Model.LeaveType" class="form-control" style="width:100%">
                                    <option value="">--Select--</option>
                                    <option value="Annual Leave">Annual Leave</option>
                                    <option value="Sick Leave">Sick Leave</option>
                                </select>
                                <span asp-validation-for="@Model.LeaveType" class="text-danger small"></span>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label asp-for="@Model.Duration" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <select asp-for="@Model.Duration" class="form-control">
                                    <option value="">--Select--</option>
                                    <option value="Full Day">Full Day</option>
                                    <option value="First Half Day">First Half Day</option>
                                    <option value="Second Half Day">Second Half Day</option>
                                    <option value="Others">Others</option>
                                </select>
                                <span asp-validation-for="@Model.Duration" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-3">
                        <div class="form-group col-12">
                            <label asp-for="Reason" class="col-auto col-form-label text-sm"></label>
                            <div class="col">
                                <input type="text" asp-for="@Model.Reason" id="Reason" name="Reason" class="leave-form-input-text form-control" />
                                <span asp-validation-for="@Model.Reason" class="text-danger small"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-6">
                            <label class="col-auto col-form-label text-sm">Net Leave Balance</label>
                            <div class="table table-responsive">
                                <table class="table table-borderless">
                                    <tr>
                                        <td style="width:200px; height:fit-content"> Annual Leave balance:</td>
                                        <td>@Model.BalanceAnnualLeave</td>

                                    </tr>
                                    <tr>
                                        <td style="width:200px;"> Sick Leave balance:</td>
                                        <td>@Model.BalanceSickLeave</td>
                                    </tr>
                                </table>
                            </div>
                            @*<div class="col">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-3">
                                                Annual Leave balance:
                                            </div>
                                            <div class="col">
                                                @Model.BalanceAnnualLeave
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                Sick Leave balance :
                                            </div>
                                            <div class="col">
                                                @Model.BalanceSickLeave
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>*@
                        </div>

                        <div class="form-group col-md-6">
                            <label asp-for="File" class="col-auto col-form-label text-sm">Attach Documents</label>
                            <div class="col custom-file">
                                <input asp-for="File" class="form-control custom-file-input customFileInput" />
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-row mt-5">
                        <div class="form-group col-12 ">
                            <button type="submit" class="btn btnSubmitForm  btn-sm">Apply Leave</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });

        });
    </script>
}
